body {
	margin: 0;
	box-sizing: border-box;
}

#root {
	position: relative;
	height: 900vh;
	background-color: #030303;
}
.trigger_text-wrapper {
	display: flex;
	grid-column-gap: 1rem;
	opacity: 0;
}
.trigger_text {
	color: white;
	min-width: 23vh;
	letter-spacing: -.03125rem;
	font-size: 2vh;
	font-weight: 600;
	line-height: 118%;
}
.trigger_text.order {
	order: 2;
}
.trigger_text.is-big {
	min-width: 19rem;
}

.trigger_text.is-small {
	min-width: 160px;
}

.text-color-gray {
	color: #8a8a8a;
}

.trigger_icon {
	margin-top: 1.52222vw;
}

.trigger_text-wrapper.is-v2 {
	flex-direction: column;
	gap: 1.56rem;
	text-align: center;
}

.trigger_text-wrapper.is-v3,
.trigger_text-wrapper.is-v4,
.trigger_text-wrapper.is-v5,
.trigger_text-wrapper.is-v6{
	align-items: flex-end;
}

@media  screen and (max-width: 1220px) {
	.trigger_text-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.trigger_text-wrapper.is-v3 {
		align-items: center;
	}

	.trigger_text-wrapper.is-v4 {
		align-items: flex-start;
	}

	.trigger_text-wrapper.is-v5 {
		align-items: flex-end;
	}

	.trigger_text-wrapper.is-v5 .trigger_text {
		min-width: 14rem;
		margin-top: 1rem;
		order: 1;
	}

	.trigger_text-wrapper.is-v7 {
		align-items: flex-start;
	}
}

@media screen and (max-width: 769px) {
	.trigger_text {
		font-size: 1rem;
		line-height: 115%;
	}

	.trigger_text-wrapper.is-v5 .trigger_text {
		min-width: 10rem;
	}
	.trigger_text-wrapper.is-v6 {
		max-width: 6rem;
	}

	.trigger_text-wrapper.is-v6 .trigger_text {
		min-width: 8rem;
	}

	.trigger_text.is-big {
		min-width: 14rem;
	}
}


.canvas-container {
	position: sticky !important;
	top: 0 !important;
	height: 100vh;
	pointer-events: none;
}

#root,
canvas{
	pointer-events: none;
}

#trigger1,
#trigger2-1,
#trigger2-2,
#trigger2-3,
#trigger2-4,
#trigger2-5,
#trigger3,
#trigger4,
#trigger5,
#trigger6,
#trigger7,
#trigger8,
#trigger9 {
	position: absolute;
}

#trigger1 {
	top: 0;
}

#trigger1,
#trigger3,
#trigger4,
#trigger5,
#trigger6,
#trigger7,
#trigger8,
#trigger9 {
	height: 100vh;
	bottom: 0;
}

#trigger2-1,
#trigger2-2,
#trigger2-3,
#trigger2-4,
#trigger2-5 {
	height: 20vh;
}

#trigger2-1 {
	top: 100vh;
}

#trigger2-2 {
	top: 120vh;
}

#trigger2-3 {
	top: 140vh;
}

#trigger2-4 {
	top: 160vh;
}

#trigger2-5 {
	top: 180vh;
}

#trigger3 {
	top: 200vh;
}

#trigger4 {
	top: 300vh;
}

#trigger5 {
	top: 400vh;
}

#trigger6 {
	top: 500vh;
}

#trigger7 {
	top: 600vh;
}

#trigger8 {
	top: 700vh;
}

#trigger9 {
	top: 800vh;
}
